@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    transition: background-color 1s;
}

header {
    color: white;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}


.card {
    background-color: rgb(32, 85, 154);
    width: 90vw;
    min-height: 100px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    color: white;
    font-size: 0.6em;
}

.foto {
    height: 100px;
    width: 160px;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
}


section.card > div.divFoto {
    float: left;
}

#boxMenu {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}







/* DarkMode */
input[type="checkbox"] {
    display: none;
}

.dark, .dark header {
    transition: background-color 1s;
    background-color: #000000;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}
/* DarkMode */

